Source: da681c-system
Section: admin
Priority: required
Maintainer: Elvis Yao <ElvisCW.Yao@moxa.com>
Uploaders: Alexander Rudalev <a.rudalev@ens.ru>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.1
Homepage: https://www.moxa.com/

Package: da681c-base-system
Architecture: any
Depends: ${misc:Depends},
         libmoxa-dio-control1 (>= 1.2.0+deb11),
         libmoxa-dio-control-dev (>= 1.2.0+deb11),
         libmoxa-gpio-control1 (>= 1.0.3+deb11),
         libmoxa-gpio-control-dev (>= 1.0.3+deb11),
         libmoxa-led-control1 (>= 1.1.1+deb11),
         libmoxa-led-control-dev (>= 1.1.1+deb11),
         libmoxa-uart-control1 (>= 1.1.6+deb11),
         libmoxa-uart-control-dev (>= 1.1.6+deb11),
         moxa-it87-gpio-driver-amd64 (>= 5.2+1.3.0+deb11+dkms),
         moxa-it87-gpio-led-driver-amd64 (>= 1.2.1+deb11+dkms),
         moxa-uart-control (>= 1.1.6+deb11),
         moxa-dio-control (>= 1.2.0+deb11),
         moxa-led-control (>= 1.1.1+deb11),
         moxa-version (>= 1.1.0+deb11),
         moxa-gpio-pca953x-driver-amd64 (>= 5.10.84+1.2.0+deb11+dkms),
         moxa-hid-ft260-driver-amd64 (>= 1.3.0+deb11+dkms),
         tpm2-tools (>= 5.0-2),
         tpm-udev (>= 0.5),
         snmpd (>= 5.9),
         lldpd (>= 1.0.11-1),
         lm-sensors (>= 1:3.6.0-7)
Description: Base system for DA-681C
 It contains the necessary tools for setting up DA-681C
